<a href="https://colab.research.google.com/github/prajwalDU/Pyspark/blob/main/Pyspark_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pyspark DataFrame = It is a data structure, you know inside that we perform varies find of data structure.

EX : pyspark.sql.dataframe.DataFrame

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=0c2641e0e1a6d9a2b1cabc8557cc3a1890d166e356ec7bf1b92c86cf9d97d65b
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [3]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv')

      name  age
0  prajwal   23
1   vishal   25
2    pooja   29
3   sushma   48

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv')

In [8]:
df_pyspark1 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv')

In [9]:
df_pyspark1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)

In [10]:
df_pyspark1 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv', inferSchema=True)

In [11]:
df_pyspark1.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [12]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [13]:
df_pyspark1.head()

Row(name='prajwal', age=23)

In [14]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
|prajwal| 23|
| vishal| 25|
|  pooja| 29|
| sushma| 48|
+-------+---+

In [15]:
df_pyspark.columns

['name', 'age']

In [16]:
df_pyspark.head(3)

[Row(name='prajwal', age=23),
 Row(name='vishal', age=25),
 Row(name='pooja', age=29)]

In [17]:
df_pyspark.select('Name')

DataFrame[Name: string]

* If we want to add multiple colums we write column name inside the square bracket([]).

* In pyspark slicing not work

In [18]:
df_pyspark['Name']

Column<'Name'>

It just tells us the particular variable refers to. In pandas use like this.

In [19]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int')]

In [20]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string]

In [21]:
df_pyspark.describe().show()

+-------+------+----------------+
|summary|  name|             age|
+-------+------+----------------+
|  count|     4|               4|
|   mean|  null|           31.25|
| stddev|  null|11.4418821295566|
|    min| pooja|              23|
|    max|vishal|              48|
+-------+------+----------------+

In [22]:
df_pyspark.withColumn('Experience After 2 years', df_pyspark['age']+2).show()

+-------+---+------------------------+
|   name|age|Experience After 2 years|
+-------+---+------------------------+
|prajwal| 23|                      25|
| vishal| 25|                      27|
|  pooja| 29|                      31|
| sushma| 48|                      50|
+-------+---+------------------------+

In [23]:
df_pyspark.drop('Experience After 2 years')

DataFrame[name: string, age: int]

In [24]:
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
|prajwal| 23|
| vishal| 25|
|  pooja| 29|
| sushma| 48|
+-------+---+

In [25]:
df_pyspark.withColumnRenamed('Name', 'New Name')

DataFrame[New Name: string, age: int]