<a href="https://colab.research.google.com/github/prajwalDU/Pyspark/blob/main/Pyspark_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pyspark DataFrame = It is a data structure, you know inside that we perform varies find of data structure.

EX : pyspark.sql.dataframe.DataFrame

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 16.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=0c2641e0e1a6d9a2b1cabc8557cc3a1890d166e356ec7bf1b92c86cf9d97d65b
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [3]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv')

      name  age
0  prajwal   23
1   vishal   25
2    pooja   29
3   sushma   48

In [26]:
from pyspark.sql import SparkSession

In [27]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [28]:
spark

In [29]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/New one CSV.csv')

In [31]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [34]:
df_pyspark1 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/New one CSV.csv')

In [35]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [36]:
df_pyspark1 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/New one CSV.csv', inferSchema=True)

In [37]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [38]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [39]:
df_pyspark1.head()

Row(Name='Prajwal', Age=23, Experience=6, Salary=60000)

In [43]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/New one CSV.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [44]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [42]:
df_pyspark.head(3)

[Row(name='prajwal', age=23),
 Row(name='vishal', age=25),
 Row(name='pooja', age=29)]

In [17]:
df_pyspark.select('Name')

DataFrame[Name: string]

* If we want to add multiple colums we write column name inside the square bracket([]).

* In pyspark slicing not work

In [18]:
df_pyspark['Name']

Column<'Name'>

It just tells us the particular variable refers to. In pandas use like this.

In [19]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int')]

In [20]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string]

In [21]:
df_pyspark.describe().show()

+-------+------+----------------+
|summary|  name|             age|
+-------+------+----------------+
|  count|     4|               4|
|   mean|  null|           31.25|
| stddev|  null|11.4418821295566|
|    min| pooja|              23|
|    max|vishal|              48|
+-------+------+----------------+

In [22]:
df_pyspark.withColumn('Experience After 2 years', df_pyspark['age']+2).show()

+-------+---+------------------------+
|   name|age|Experience After 2 years|
+-------+---+------------------------+
|prajwal| 23|                      25|
| vishal| 25|                      27|
|  pooja| 29|                      31|
| sushma| 48|                      50|
+-------+---+------------------------+

In [23]:
df_pyspark.drop('Experience After 2 years')

DataFrame[name: string, age: int]

In [25]:
df_pyspark.withColumnRenamed('Name', 'New Name')

DataFrame[New Name: string, age: int]

In [24]:
df_pyspark.show()

+-------+---+
|   name|age|
+-------+---+
|prajwal| 23|
| vishal| 25|
|  pooja| 29|
| sushma| 48|
+-------+---+

In [45]:
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [47]:
df_pyspark.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|  pooja| 29|         7|  4000|
| nayana| 23|         2| 30000|
|   Sonu| 25|         4| 45000|
+-------+---+----------+------+

In [49]:
df_pyspark.na.drop(how='all').show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [50]:
df_pyspark.na.drop(how='any', thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|  pooja| 29|         7|  4000|
| Sushma| 48|        15|  null|
| nayana| 23|         2| 30000|
|   Sonu| 25|         4| 45000|
|   null| 36|        10| 38000|
+-------+---+----------+------+

In [ ]:
df_pyspark.na.drop(how='any', thresh=3, subset=['Experience']).show()

In [53]:
# Filling the missing values
df_pyspark.na.fill('Missing values', ['Experience','Age']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [54]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("mean")

In [55]:
# Imputation col to df

imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|Prajwal|  23|         6| 60000|         23|                 6|         60000|
| Vishal|  26|         8| 50000|         26|                 8|         50000|
|  pooja|  29|         7|  4000|         29|                 7|          4000|
| Sushma|  48|        15|  null|         48|                15|         37428|
| nayana|  23|         2| 30000|         23|                 2|         30000|
| Bacchu|   4|      null|  null|          4|                 7|         37428|
|   Sonu|  25|         4| 45000|         25|                 4|         45000|
|   null|null|      null| 35000|         26|                 7|         35000|
|   null|  36|        10| 38000|         36|                10|         38000|
+-------+----+----------+------+-----------+------------------+--------------+

# Pyspark Dataframe
* Filter operation
* &,|,==
* ~

In [64]:
df_pyspark.filter(df_pyspark['Salary'] > 35000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|   Sonu| 25|         4| 45000|
|   null| 36|        10| 38000|
+-------+---+----------+------+

In [63]:
df_pyspark.filter(~('Salary > 35000')).show()

TypeError: ignored

In [58]:
df_pyspark.filter('Salary > 35000').select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Prajwal| 23|
| Vishal| 26|
|   Sonu| 25|
|   null| 36|
+-------+---+

In [61]:
df_pyspark.filter((df_pyspark['Salary'] > 35000) & (df_pyspark['Salary'] < 60000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Vishal| 26|         8| 50000|
|  Sonu| 25|         4| 45000|
|  null| 36|        10| 38000|
+------+---+----------+------+

In [62]:
df_pyspark.filter((df_pyspark['Salary'] > 35000) | (df_pyspark['Salary'] < 60000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| nayana|  23|         2| 30000|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+