<a href="https://colab.research.google.com/github/prajwalDU/Pyspark/blob/main/Pyspark_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pyspark DataFrame = It is a data structure, you know inside that we perform varies find of data structure.

EX : pyspark.sql.dataframe.DataFrame

In [1]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 22.4 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=4045ecc627d83b74ae639bc3df880ebe2b14798bad740e61f0125e776f0eb87c
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [2]:
import pandas as pd
pd.read_csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv')

      name  age
0  prajwal   23
1   vishal   25
2    pooja   29
3   sushma   48

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/test.csv')

In [7]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

In [14]:
df_pyspark1 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/no null data.csv')

In [15]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [46]:
df_pyspark1.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|  pooja| 29|         7|  4000|
| Sushma| 48|        15| 70000|
| nayana| 23|         2| 30000|
| Bacchu|  4|         5|     0|
|   Sonu| 25|         4| 45000|
+-------+---+----------+------+

In [11]:
df_pyspark2 = spark.read.option('header', 'true').csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/New one CSV.csv', inferSchema=True)

In [13]:
df_pyspark2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [16]:
type(df_pyspark1)

pyspark.sql.dataframe.DataFrame

In [18]:
df_pyspark1.head(3)

[Row(Name='Prajwal', Age='23', Experience='6', Salary='60000'),
 Row(Name='Vishal', Age='26', Experience='8', Salary='50000'),
 Row(Name='pooja', Age='29', Experience='7', Salary='4000')]

In [ ]:
df_pyspark = spark.read.csv('/content/drive/MyDrive/almabetter/AlmaX/pyspark/New one CSV.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [19]:
df_pyspark2.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
df_pyspark.head(3)

[Row(name='prajwal', age=23),
 Row(name='vishal', age=25),
 Row(name='pooja', age=29)]

In [20]:
df_pyspark1.select('Name')

DataFrame[Name: string]

* If we want to add multiple colums we write column name inside the square bracket([]).

* In pyspark slicing not work

In [22]:
df_pyspark2['Name']

Column<'Name'>

It just tells us the particular variable refers to. In pandas use like this.

In [23]:
df_pyspark2.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [ ]:
df_pyspark.describe()

DataFrame[summary: string, name: string, age: string]

In [24]:
df_pyspark2.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               Age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     7|                 8|                7|                 7|
|   mean|  null|             26.75|7.428571428571429| 37428.57142857143|
| stddev|  null|12.487136238088036|4.237025012007948|17812.515664153514|
|    min|Bacchu|                 4|                2|              4000|
|    max| pooja|                48|               15|             60000|
+-------+------+------------------+-----------------+------------------+

In [26]:
df_pyspark2.withColumn('Experience After 2 years', df_pyspark2['age']+2).show()

+-------+----+----------+------+------------------------+
|   Name| Age|Experience|Salary|Experience After 2 years|
+-------+----+----------+------+------------------------+
|Prajwal|  23|         6| 60000|                      25|
| Vishal|  26|         8| 50000|                      28|
|  pooja|  29|         7|  4000|                      31|
| Sushma|  48|        15|  null|                      50|
| nayana|  23|         2| 30000|                      25|
| Bacchu|   4|      null|  null|                       6|
|   Sonu|  25|         4| 45000|                      27|
|   null|null|      null| 35000|                    null|
|   null|  36|        10| 38000|                      38|
+-------+----+----------+------+------------------------+

In [27]:
df_pyspark2.drop('Experience After 2 years')

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [28]:
df_pyspark.withColumnRenamed('Name', 'New Name')

DataFrame[_c0: string, _c1: string]

In [29]:
df_pyspark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   name|age|
|prajwal| 23|
| vishal| 25|
|  pooja| 29|
| sushma| 48|
+-------+---+

In [30]:
df_pyspark2.show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [31]:
df_pyspark2.na.drop().show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|  pooja| 29|         7|  4000|
| nayana| 23|         2| 30000|
|   Sonu| 25|         4| 45000|
+-------+---+----------+------+

In [32]:
df_pyspark2.na.drop(how='all').show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [33]:
df_pyspark2.na.drop(how='any', thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|  pooja| 29|         7|  4000|
| Sushma| 48|        15|  null|
| nayana| 23|         2| 30000|
|   Sonu| 25|         4| 45000|
|   null| 36|        10| 38000|
+-------+---+----------+------+

In [34]:
df_pyspark2.na.drop(how='any', thresh=3, subset=['Experience']).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
+----+---+----------+------+

In [35]:
# Filling the missing values
df_pyspark2.na.fill('Missing values', ['Experience','Age']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| Sushma|  48|        15|  null|
| nayana|  23|         2| 30000|
| Bacchu|   4|      null|  null|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [36]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['Age', 'Experience', 'Salary'],
    outputCols = ["{}_imputed".format(c) for c in ['Age', 'Experience', 'Salary']]
).setStrategy("mean")

In [38]:
# Imputation col to df

imputer.fit(df_pyspark2).transform(df_pyspark2).show()

+-------+----+----------+------+-----------+------------------+--------------+
|   Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+-------+----+----------+------+-----------+------------------+--------------+
|Prajwal|  23|         6| 60000|         23|                 6|         60000|
| Vishal|  26|         8| 50000|         26|                 8|         50000|
|  pooja|  29|         7|  4000|         29|                 7|          4000|
| Sushma|  48|        15|  null|         48|                15|         37428|
| nayana|  23|         2| 30000|         23|                 2|         30000|
| Bacchu|   4|      null|  null|          4|                 7|         37428|
|   Sonu|  25|         4| 45000|         25|                 4|         45000|
|   null|null|      null| 35000|         26|                 7|         35000|
|   null|  36|        10| 38000|         36|                10|         38000|
+-------+----+----------+------+-----------+------------------+--------------+

# Pyspark Dataframe
* Filter operation
* &,|,==
* ~

In [39]:
df_pyspark2.filter(df_pyspark2['Salary'] > 35000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Prajwal| 23|         6| 60000|
| Vishal| 26|         8| 50000|
|   Sonu| 25|         4| 45000|
|   null| 36|        10| 38000|
+-------+---+----------+------+

In [40]:
df_pyspark2.filter(~(df_pyspark2['Salary'] > 35000)).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| pooja|  29|         7|  4000|
|nayana|  23|         2| 30000|
|  null|null|      null| 35000|
+------+----+----------+------+

In [41]:
df_pyspark2.filter('Salary > 35000').select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Prajwal| 23|
| Vishal| 26|
|   Sonu| 25|
|   null| 36|
+-------+---+

In [42]:
df_pyspark2.filter((df_pyspark2['Salary'] > 35000) & (df_pyspark2['Salary'] < 60000)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Vishal| 26|         8| 50000|
|  Sonu| 25|         4| 45000|
|  null| 36|        10| 38000|
+------+---+----------+------+

In [43]:
df_pyspark2.filter((df_pyspark2['Salary'] > 35000) | (df_pyspark2['Salary'] < 60000)).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|Prajwal|  23|         6| 60000|
| Vishal|  26|         8| 50000|
|  pooja|  29|         7|  4000|
| nayana|  23|         2| 30000|
|   Sonu|  25|         4| 45000|
|   null|null|      null| 35000|
|   null|  36|        10| 38000|
+-------+----+----------+------+

In [44]:
df_pyspark2.groupBy('Age').sum().show()

+----+--------+---------------+-----------+
| Age|sum(Age)|sum(Experience)|sum(Salary)|
+----+--------+---------------+-----------+
|  26|      26|              8|      50000|
|null|    null|           null|      35000|
|  48|      48|             15|       null|
|   4|       4|           null|       null|
|  23|      46|              8|      90000|
|  25|      25|              4|      45000|
|  29|      29|              7|       4000|
|  36|      36|             10|      38000|
+----+--------+---------------+-----------+

In [45]:
df_pyspark2.agg({'Salary' : 'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     262000|
+-----------+

**MLlib** is Apache Spark's scalable machine learning library.

In spark Ml there are two different techniques

* RDD
* DataFrame APIs

In [55]:
df_pyspark1.columns

['Name', 'Age', 'Experience', 'Salary']

In [62]:
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols = ["Age","Experience"], outputCol = "Independent Feature")

In [63]:
output = assembler.transform(df_pyspark1)

IllegalArgumentException: ignored

In [ ]:
output.show()

In [ ]:
finalized_data=output.select("Independent Features","Salary")

In [ ]:
finalized_data.show()

Databricks are actually helps us to perform data engineering.

Data engineering means probabilie working with big data.

In [ ]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [ ]:
### Coefficients
regressor.coefficients

In [ ]:
### Intercepts
regressor.intercept

In [ ]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [ ]:
pred_results.predictions.show()

In [ ]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError